.log-in {
    display: inline-block;
    height: 100%;
    padding: 1em;

    .form-label {
        float: left;
    }

    .form-check-label {
        float: left;
    }

    .log-in-button {
        width: 100%;
    }

    .error-message {
        color: #FF6565;
        height: 1em;
        font-size: .8em;
        text-align: left;
        margin-top: 0.25em;
    }

    .error {
        border: 2px solid #FF6565;
    }
}