.sign-up {
    display: inline-block;
    height: 100%;
    padding: 1em;

    .form-label {
        float: left;
    }

    .form-check-label {
        float: left;
    }

    .sign-up-button {
        width: 100%;
    }

}